.Burger{
    width: 100%;
    margin: auto;
    height: 250px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    overflow: scroll;
    overflow-x: scroll;
    overflow-y: scroll;
}
@media (min-width: 576px) {
    .Burger{
        width: 350px;
        height: 400px;
    }
}

@media (min-width: 768px) {
    .Burger{
        width: 450px;
        height: 500px;
    }
}

@media (min-width: 992px) {
    .Burger{
        width: 550px;
        height: 600px;
    }
}

@media (min-width: 1200px) {
    .Burger{
        width: 650px;
        height: 700px;
    }
}